h1 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto;
  padding-left: 200px
}

#fishList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding: 10px 10px 10px 50px;
  min-width: 400px;
  max-width: 700px;
}

.fish {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  flex-basis: 200px;
  overflow: hidden;
}

#tipList {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;
  gap: 20px;
}

#locationList {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  padding-left: 50px;
}
